@import url(reset.css);
/* 글로벌 변수는 폰트 사이즈(라지, 미듐, 레귤러, 스몰등으로 정의)
폰트 웨잇(볼드, 세미볼드, 레귤러) 등을 지정함, 컬러 또한  */
:root {
    --font-kor: "Noto Serif KR", serif;
    --font-eng: "Permanent Marker", cursive;
    --border-solid: solid white;
    --border-circle: 50%;
    --pink-base: #ffe1f3;
    --purple-base: #bacbed;
}

* {
    box-sizing: border-box;
}

/* 타이포그래피도 설정해주면 좋음 h2. h3이런거  */

.background {
    background-image: url("../img/back.png");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    cursor: default;
}

/* nav */
#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--font-eng);
    background-color: var(--pink-base);
}

.navbar__menu {
    display: flex;
}
.nav_pageTitle {
    font-size: 30px;
    text-decoration: none;
    position: relative;
    top: -40px;
    color: black;
}

.navbar__logo a {
    font-size: 30px;
}

.navbar__menu__item {
    padding: 8px 12px;
    margin: 0 4px;
    font-size: 25px;
    border-radius: 10px;
    cursor: pointer;
}

.navbar__menu__item:hover {
    border: 1px solid white;
}
.navbar__menu__item.active {
    background-color: white;
}
.nav_logoImg {
    width: 100px;
    height: 90px;
}

/* main section */
main {
    background: url("./img/back.png") center/cover no-repeat;
    text-align: center;
    padding: 40px;
}

.main_profileImg {
    width: 300px;
    height: 300px;
    border-radius: var(--border-circle);
    border: var(--border-solid);
    margin-bottom: 30px;
}

main h1 {
    font-family: var(--font-kor);
}

main button {
    background: none;
    border-radius: 5px;
    width: 180px;
    height: 50px;
    margin-top: 30px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    font-family: var(--font-kor);
    border: var(--border-solid);
}

main button:hover {
    background-color: #bacbed;
}

/* About Me */

article {
    text-align: center;
    padding: 100px;
}

.article_contents {
    max-width: 1200px;
    margin: auto;
    font-size: 20px;
    line-height: 25px;
}
article h1 {
    font-size: 50px;
}
.aboutme_boxSet {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}

.iconBox {
    width: 170px;
    height: 170px;
    font-size: 70px;
    line-height: 210px;
    border: var(--border-solid);
    border-radius: var(--border-circle);
}
article .iconBox img {
    width: 100px;
    height: 100px;
    transition: all 300ms ease;
}

article .iconBox img:hover {
    transform: rotate(-30deg);
}

/* skills */
article:nth-child(3) {
    background-color: var(--purple-base);
}

.skills_nameAndPer {
    display: flex;
    justify-content: space-between;
    width: 1000px;
    margin: auto;
    font-weight: bold;
    margin-top: 10px;
}

/* My works */

.works_selectBtn {
    display: flex;

    width: 800px;
    height: 30px;
    border-radius: 7px;
    margin: auto;
}

.skills {
    padding: 10px;
}
.skill__bar {
    width: 1000px;
    height: 3px;
    background-color: var(--pink-base);
    opacity: 0.5;
    margin: auto;
}

.skills_nameAndPer {
    margin-bottom: 10px;
}

.skill__value {
    height: 3px;
    background-color: violet;
}
.works_selectBtn div {
    width: 200px;
    border: solid 1px rgb(194, 191, 191);
    margin: auto;
    padding: 10px;
    border-radius: 3px;
}

.container {
    display: grid;
    width: 1600px;
    height: 700px;
    margin: auto;
    margin-top: 100px;
    grid-template-columns: repeat(4, 1fr);
}

.container div {
    background-color: gray;
    margin: 10px;
}

/* contact */
article:nth-child(5) {
    background-color: var(--pink-base);
}

.article_contents i {
    font-size: 70px;
    margin-top: 50px;
}

.article_contents_end {
    margin-top: 50px;
}

.box {
    box-sizing: content-box;
    width: 100%;
}
