@import url(reset.css);
/* 글로벌 변수는 폰트 사이즈(라지, 미듐, 레귤러, 스몰등으로 정의)
폰트 웨잇(볼드, 세미볼드, 레귤러) 등을 지정함, 컬러 또한  */
:root {
    --font-kor: "Noto Serif KR", serif;
    --font-eng: "Permanent Marker", cursive;
    --border-solid: solid white;
    --border-circle: 50%;
    --pink-base: #ffe1f3;
    --purple-base: #bacbed;
}

* {
    box-sizing: border-box;
}

/* 타이포그래피도 설정해주면 좋음 h2. h3이런거  */

.background {
    background-image: url("../img/back.png");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    cursor: default;
}

/* nav */
#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--font-eng);
    position: fixed;
    width: 100%;
    z-index: 1;
}

.dark {
    background-color: var(--pink-base);
    transition: all 300ms ease-in-out;
}
.navbar__menu {
    display: flex;
}
.nav_pageTitle {
    font-size: 30px;
    text-decoration: none;
    position: relative;
    top: -40px;
    color: black;
}

.navbar__logo a {
    font-size: 30px;
}

.navbar__menu__item {
    padding: 8px 12px;
    margin: 0 4px;
    font-size: 25px;
    border-radius: 10px;
    cursor: pointer;
}

.navbar__menu__item:hover {
    border: 1px solid white;
}
.navbar__menu__item.active {
    background-color: white;
}
.nav_logoImg {
    width: 100px;
    height: 90px;
}

.navbar__toggle_btn {
    position: absolute;
    top: 25px;
    right: 32px;
    font-size: 24px;
    color: black;
    display: none;
    background: none;
    border: none;
}
a {
    text-decoration: none;
    color: black;
}

/* main section */
main {
    background: url("./img/back.png") center/cover no-repeat;
    text-align: center;
    padding: 40px;
}

.main_profileImg {
    width: 300px;
    height: 300px;
    border-radius: var(--border-circle);
    border: var(--border-solid);
    margin-bottom: 30px;
    margin-top: 130px;
}

main h1 {
    font-family: var(--font-kor);
}

main button {
    background: none;
    border-radius: 5px;
    width: 180px;
    height: 50px;
    margin-top: 30px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    font-family: var(--font-kor);
    border: var(--border-solid);
}

main button:hover {
    background-color: #bacbed;
}
.upArrowBtnBox {
    display: flex;
    justify-content: flex-end;
    background: none;
    position: fixed;
    z-index: 1;

    display: none;
}

/* About Me */

article {
    text-align: center;
    padding: 100px;
}

.article_contents {
    max-width: 1200px;
    margin: auto;
    font-size: 20px;
    line-height: 25px;
}
.about_major {
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
}

article h1 {
    font-size: 50px;
}

.iconBox {
    width: 170px;
    height: 170px;
    font-size: 70px;
    line-height: 210px;
    border: var(--border-solid);
    border-radius: var(--border-circle);
    margin-bottom: 30px;
}

article .iconBox img {
    width: 100px;
    height: 100px;
    transition: all 300ms ease;
}

article .iconBox img:hover {
    transform: rotate(-30deg);
}

/* skills */
article:nth-child(3) {
    background-color: var(--purple-base);
}

.skills_progressBox h3 {
    margin-top: 60px;
}

.skills_nameAndPer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: auto;
    font-weight: bold;
    margin-top: 10px;
}

.skills {
    padding: 10px;
}
.skill__bar {
    width: 100%;
    height: 3px;
    background-color: var(--pink-base);

    margin: auto;
}

.skills_nameAndPer {
    margin-bottom: 10px;
}

.skill__value {
    height: 3px;
    background-color: violet;
}
/* My works */

.works_selectBtn {
    display: flex;
    width: 100%;
    border-radius: 7px;
}

.works_selectBtn div {
    width: 200px;
    border: solid 1px rgb(194, 191, 191);
    margin: auto;
    padding: 10px;
    border-radius: 3px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
}

.container div {
    background-color: gray;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 280px;
    height: 250px;
    margin: 2px;
}

/* contact */
article:nth-child(5) {
    background-color: var(--pink-base);
}

.article_contents i {
    font-size: 70px;
    margin-top: 50px;
}

.article_contents_end {
    margin-top: 50px;
}

.box {
    box-sizing: content-box;
    width: 100%;
}

@media screen and (max-width: 768px) {
    .navbar__toggle_btn {
        display: block;
    }

    #navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar__menu {
        flex-direction: column;
        text-align: center;
        width: 100%;
        display: none;
    }

    .about_major {
        flex-direction: column;
    }

    .iconBox {
        margin-top: 30px;
        margin: auto;
        margin-bottom: 10px;
    }

    .iconBoxSet {
        margin-bottom: 30px;
    }

    .skills {
        flex-direction: column;
    }
    .containder div {
        flex-grow: 1;
    }
}
